In [1]:
# Import packages
import pandas as pd
from IPython.display import display, HTML

In [2]:
%load_ext watermark

In [3]:
%watermark -v -p pandas -u -n -t -z

last updated: Mon Apr 01 2019 18:24:55 Eastern Daylight Time

CPython 3.6.8
IPython 7.4.0

pandas 0.24.2

In [4]:
# File paths
outbound15 = 'Dataset/15outbound.xls'
outbound16 = 'Dataset/16outbound.xls'
outbound17 = 'Dataset/17outbound.xls'

In [5]:
# Create dataframe from excel sheet
def create_df(file_path,sheet,header,cols,skips):
    
    df = pd.read_excel(file_path, sheet_name=sheet, header=header, usecols=cols, nrows=18, skiprows=skips)
    
    return df

In [6]:
# 2014 outbound
cols = ['Regions','Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec']
skip_rows = [50, 52, 54, 56, 58]
df14 = create_df(outbound15,0,41,cols,skip_rows)
display(df14)

,Regions,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
0,Europe,577691.0,497003.0,806663.0,868367.0,1305842.0,1614486.0,1413798.0,1185907.0,1241537.0,915090.0,675275.0,790557.0
1,Caribbean,498620.0,550203.0,705211.0,629774.0,624280.0,742860.0,821650.0,629224.0,347244.0,436791.0,513983.0,672032.0
2,Asia,376296.0,312814.0,397296.0,381817.0,379197.0,424155.0,397960.0,342239.0,338630.0,397721.0,364160.0,396232.0
3,South America,127749.0,137612.0,154680.0,123068.0,144464.0,208023.0,167627.0,143609.0,112581.0,123729.0,134019.0,194344.0
4,Central America,219192.0,225540.0,283108.0,213929.0,209012.0,301095.0,308557.0,206176.0,121158.0,145848.0,180485.0,283007.0
5,Oceania,51774.0,62658.0,60097.0,41314.0,46359.0,45003.0,48892.0,39913.0,38013.0,46573.0,53030.0,67699.0
6,Middle East,140179.0,119192.0,140706.0,141744.0,162244.0,180874.0,148098.0,145620.0,133173.0,134341.0,143546.0,189966.0
7,Africa,23982.0,21066.0,27950.0,27596.0,36044.0,40542.0,40732.0,34231.0,29205.0,25974.0,21875.0,28726.0
8,Total Overseas,2015483.0,1926088.0,2575711.0,2427609.0,2907442.0,3557038.0,3347314.0,2726919.0,2361541.0,2226067.0,2086373.0,2622563.0
9,Mexico (Total),2073218.5,1975580.8,2396038.5,2052385.2,2123547.9,2199477.2,2313740.6,2113128.8,1608221.3,1875762.6,2265596.2,2884937.1
10,Canada (Total),450103.0,483157.0,553030.0,662708.0,992697.0,1402535.0,1840827.0,1889787.0,1074367.0,860615.0,562470.0,742276.0
11,North America,2523321.5,2458737.8,2949068.5,2715093.2,3116244.9,3602012.2,4154567.6,4002915.8,2682588.3,2736377.6,2828066.2,3627213.1
12,Grand Total,4538804.5,4384825.8,5524779.5,5142702.2,6023686.9,7159050.2,7501881.6,6729834.8,5044129.3,4962444.6,4914439.2,6249776.1

In [7]:
# 2015 outbound
skip_rows = [12, 14, 16, 18, 20]
df15 = create_df(outbound15,0,3,cols,skip_rows)
display(df15)

,Regions,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
0,Europe,585982.0,500982.0,840187.0,926094.0,1339841.0,1741971,1518260.0,1279176.0,1357057.0,978329.0,706325.0,824656.0
1,Caribbean,560268.0,610837.0,755526.0,671777.0,647866.0,783320,852692.0,656606.0,403601.0,477299.0,523274.0,705131.0
2,Asia,392463.0,325069.0,439242.0,403753.0,409652.0,436330,413295.0,365482.0,358203.0,442988.0,418257.0,437926.0
3,South America,129211.0,135309.0,154234.0,126276.0,146458.0,182575,179749.0,156707.0,128821.0,139398.0,156448.0,234277.0
4,Central America,223884.0,230021.0,283876.0,208872.0,207285.0,301400,306278.0,207156.0,132265.0,157957.0,210852.0,321019.0
5,Oceania,53439.0,67496.0,61684.0,42818.0,45192.0,54120,51647.0,42810.0,42298.0,50059.0,57688.0,74234.0
6,Middle East,162570.0,136853.0,166257.0,145791.0,181811.0,191786,199753.0,168455.0,149477.0,153967.0,172068.0,216463.0
7,Africa,25125.0,20343.0,27766.0,24945.0,31857.0,35090,39673.0,33198.0,28683.0,25474.0,24603.0,33815.0
8,Total Overseas (2),2132942.0,2026910.0,2728772.0,2550326.0,3009962.0,3726592,3561347.0,2909590.0,2600405.0,2425471.0,2269515.0,2847521.0
9,Mexico (Total) (3)(P),2295254.4,2208351.4,2533087.6,2268788.7,2290029.2,2444530,2673055.3,2291681.3,1929263.4,2162586.7,2507999.5,3128658.6
10,Canada (Total) (4),476015.0,507236.0,591445.0,701069.0,1069379.0,1580560,2054370.0,1865483.0,1251955.0,911336.0,627539.0,831993.0
11,North America,2771269.4,2715587.4,3124532.6,2969857.7,3359408.2,4025090,4727425.3,4157164.3,3181218.4,3073922.7,3135538.5,3960651.6
12,Grand Total,4904211.4,4742497.4,5853304.6,5520183.7,6369370.2,7751682,8288772.3,7066754.3,5781623.4,5499393.7,5405053.5,6808172.6

In [8]:
# 2016 outbound
df16 = create_df(outbound16,'Dec 2016',3,cols,skip_rows)
display(df16)

,Regions,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
0,Europe,615470.0,546246.0,912603.0,976044.0,1441559.0,1837000,1654182.0,1356022.0,1437634.0,1055110.0,807099.0,975396.0
1,Caribbean,588925.0,643467.0,809877.0,687500.0,641598.0,803919,890781.0,645065.0,416980.0,451579.0,547257.0,751937.0
2,Asia,434366.0,351237.0,479397.0,440303.0,452593.0,488734,460034.0,388236.0,405050.0,488441.0,479222.0,515345.0
3,South America,153576.0,160319.0,183477.0,145179.0,160869.0,202821,198609.0,178300.0,129157.0,131988.0,146737.0,219445.0
4,Central America,258520.0,260786.0,320266.0,222167.0,227876.0,319273,332404.0,218258.0,146172.0,161373.0,202423.0,314615.0
5,Oceania,58440.0,72704.0,68529.0,47648.0,51715.0,58120,59085.0,52475.0,47696.0,55719.0,67294.0,85458.0
6,Middle East,178493.0,152882.0,184931.0,147391.0,188052.0,214771,221530.0,177224.0,155408.0,148121.0,179799.0,227707.0
7,Africa,26709.0,22661.0,31706.0,26726.0,33005.0,36015,41695.0,32521.0,28808.0,25423.0,25380.0,34243.0
8,Total Overseas (2),2314499.0,2210302.0,2990786.0,2692958.0,3197267.0,3960653,3858320.0,3048101.0,2766905.0,2517754.0,2455211.0,3124146.0
9,Mexico (Total) (3)(P),2524261.2,2417122.3,2837326.8,2383351.3,2410265.9,2631167,2956915.1,2422245.8,2094332.9,2512603.4,2598722.3,3406083.8
10,Canada (Total) (4),536185.0,625767.0,768588.0,805860.0,1164428.0,1684163,2306960.0,1950223.0,1415326.0,1012488.0,712958.0,911921.0
11,North America,3060446.2,3042889.3,3605914.8,3189211.3,3574693.9,4315330,5263875.1,4372468.8,3509658.9,3525091.4,3311680.3,4318004.8
12,Grand Total,5374945.2,5253191.3,6596700.8,5882169.3,6771960.9,8275983,9122195.1,7420569.8,6276563.9,6042845.4,5766891.3,7442150.8

In [9]:
# 2017 outbound
cols = ['Regions','Janrev','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec']
df17 = create_df(outbound17,'December 2017',3,cols,skip_rows)
# Rename January column
df17.rename(columns={'Janrev':'Jan'},inplace=True)
display(df17)

,Regions,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
0,Europe,7.011210e+05,6.204600e+05,1.064429e+06,1.212898e+06,1.684659e+06,2.139814e+06,1.867812e+06,1.627172e+06,1676165.0,1201375.0,928855.0,1068009.0
1,Caribbean,6.216860e+05,6.835380e+05,8.227510e+05,7.830760e+05,7.141170e+05,8.658470e+05,9.595100e+05,7.180920e+05,356693.0,473086.0,567498.0,754622.0
2,Asia,4.768270e+05,3.876500e+05,5.130340e+05,4.958840e+05,4.779540e+05,5.258750e+05,5.043260e+05,4.195860e+05,420099.0,504961.0,507576.0,537118.0
3,South America,1.350060e+05,1.466640e+05,1.658360e+05,1.485400e+05,1.544360e+05,1.936730e+05,1.827960e+05,1.614350e+05,119148.0,137624.0,157642.0,222500.0
4,Central America,2.412930e+05,2.520670e+05,3.101820e+05,2.523920e+05,2.323660e+05,3.361500e+05,3.326340e+05,2.220450e+05,147044.0,169255.0,216656.0,319918.0
5,Oceania,6.405500e+04,8.174000e+04,7.682100e+04,5.789400e+04,5.195000e+04,5.789500e+04,6.084900e+04,5.015700e+04,47780.0,58010.0,75065.0,94280.0
6,Middle East,1.970770e+05,1.516490e+05,1.751110e+05,1.748410e+05,1.895000e+05,2.294940e+05,2.368670e+05,2.012420e+05,157995.0,168668.0,190353.0,233537.0
7,Africa,2.594700e+04,2.281200e+04,3.098600e+04,3.327300e+04,3.484000e+04,4.408900e+04,4.643000e+04,3.966800e+04,30051.0,28754.0,29748.0,36553.0
8,Total Overseas (2),2.463012e+06,2.346580e+06,3.159150e+06,3.158798e+06,3.539822e+06,4.392837e+06,4.191224e+06,3.439397e+06,2954975.0,2741733.0,2673393.0,3266537.0
9,Mexico (Total) (3)(P),2.649245e+06,2.604381e+06,3.102558e+06,2.883496e+06,2.761663e+06,3.092416e+06,3.310766e+06,2.706861e+06,2425061.2,2718928.5,3069218.3,3725466.7
10,Canada (Total) (4),5.665950e+05,6.186740e+05,7.239520e+05,8.811880e+05,1.160399e+06,1.808757e+06,2.278435e+06,2.066968e+06,1461190.0,1060594.0,754760.0,944412.0
11,North America,3.215840e+06,3.223055e+06,3.826510e+06,3.764684e+06,3.922062e+06,4.901173e+06,5.589201e+06,4.773829e+06,3886251.2,3779522.5,3823978.3,4669878.7
12,Grand Total,5.678852e+06,5.569635e+06,6.985660e+06,6.923482e+06,7.461884e+06,9.294010e+06,9.780425e+06,8.213226e+06,6841226.2,6521255.5,6497371.3,7936415.7

In [10]:
# Create datetime index
def to_time(df,year):
    # Set Regions as index
    df.set_index('Regions', inplace=True)
    # Swap index and column
    df = df.stack().unstack(0)
    # Convert months' abbreviation to actual datetime
    months = {df.index[i-1]:str(year)+str(i) for i in range(1,13)}
    df.rename(index=months, inplace=True)
    df.index = pd.to_datetime(df.index, format='%Y%m')+pd.offsets.MonthEnd()
    # Unify columns' name
    df.columns = ['Europe','Caribbean','Asia','South America','Central America','Oceania','Middle East','Africa','Total Overseas','Mexico','Canada','North America','Grand Total']

    return df

In [11]:
df14 = to_time(df14,2014)
display(df14)
display(df14.info())

,Europe,Caribbean,Asia,South America,Central America,Oceania,Middle East,Africa,Total Overseas,Mexico,Canada,North America,Grand Total
2014-01-31,577691.0,498620.0,376296.0,127749.0,219192.0,51774.0,140179.0,23982.0,2015483.0,2073218.5,450103.0,2523321.5,4538804.5
2014-02-28,497003.0,550203.0,312814.0,137612.0,225540.0,62658.0,119192.0,21066.0,1926088.0,1975580.8,483157.0,2458737.8,4384825.8
2014-03-31,806663.0,705211.0,397296.0,154680.0,283108.0,60097.0,140706.0,27950.0,2575711.0,2396038.5,553030.0,2949068.5,5524779.5
2014-04-30,868367.0,629774.0,381817.0,123068.0,213929.0,41314.0,141744.0,27596.0,2427609.0,2052385.2,662708.0,2715093.2,5142702.2
2014-05-31,1305842.0,624280.0,379197.0,144464.0,209012.0,46359.0,162244.0,36044.0,2907442.0,2123547.9,992697.0,3116244.9,6023686.9
2014-06-30,1614486.0,742860.0,424155.0,208023.0,301095.0,45003.0,180874.0,40542.0,3557038.0,2199477.2,1402535.0,3602012.2,7159050.2
2014-07-31,1413798.0,821650.0,397960.0,167627.0,308557.0,48892.0,148098.0,40732.0,3347314.0,2313740.6,1840827.0,4154567.6,7501881.6
2014-08-31,1185907.0,629224.0,342239.0,143609.0,206176.0,39913.0,145620.0,34231.0,2726919.0,2113128.8,1889787.0,4002915.8,6729834.8
2014-09-30,1241537.0,347244.0,338630.0,112581.0,121158.0,38013.0,133173.0,29205.0,2361541.0,1608221.3,1074367.0,2682588.3,5044129.3
2014-10-31,915090.0,436791.0,397721.0,123729.0,145848.0,46573.0,134341.0,25974.0,2226067.0,1875762.6,860615.0,2736377.6,4962444.6
2014-11-30,675275.0,513983.0,364160.0,134019.0,180485.0,53030.0,143546.0,21875.0,2086373.0,2265596.2,562470.0,2828066.2,4914439.2
2014-12-31,790557.0,672032.0,396232.0,194344.0,283007.0,67699.0,189966.0,28726.0,2622563.0,2884937.1,742276.0,3627213.1,6249776.1

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 12 entries, 2014-01-31 to 2014-12-31
Freq: M
Data columns (total 13 columns):
Europe             12 non-null float64
Caribbean          12 non-null float64
Asia               12 non-null float64
South America      12 non-null float64
Central America    12 non-null float64
Oceania            12 non-null float64
Middle East        12 non-null float64
Africa             12 non-null float64
Total Overseas     12 non-null float64
Mexico             12 non-null float64
Canada             12 non-null float64
North America      12 non-null float64
Grand Total        12 non-null float64
dtypes: float64(13)
memory usage: 1.3 KB

None

In [12]:
df15 = to_time(df15,2015)
display(df15)
display(df15.info())

,Europe,Caribbean,Asia,South America,Central America,Oceania,Middle East,Africa,Total Overseas,Mexico,Canada,North America,Grand Total
2015-01-31,585982.0,560268.0,392463.0,129211.0,223884.0,53439.0,162570.0,25125.0,2132942.0,2295254.4,476015.0,2771269.4,4904211.4
2015-02-28,500982.0,610837.0,325069.0,135309.0,230021.0,67496.0,136853.0,20343.0,2026910.0,2208351.4,507236.0,2715587.4,4742497.4
2015-03-31,840187.0,755526.0,439242.0,154234.0,283876.0,61684.0,166257.0,27766.0,2728772.0,2533087.6,591445.0,3124532.6,5853304.6
2015-04-30,926094.0,671777.0,403753.0,126276.0,208872.0,42818.0,145791.0,24945.0,2550326.0,2268788.7,701069.0,2969857.7,5520183.7
2015-05-31,1339841.0,647866.0,409652.0,146458.0,207285.0,45192.0,181811.0,31857.0,3009962.0,2290029.2,1069379.0,3359408.2,6369370.2
2015-06-30,1741971.0,783320.0,436330.0,182575.0,301400.0,54120.0,191786.0,35090.0,3726592.0,2444530.0,1580560.0,4025090.0,7751682.0
2015-07-31,1518260.0,852692.0,413295.0,179749.0,306278.0,51647.0,199753.0,39673.0,3561347.0,2673055.3,2054370.0,4727425.3,8288772.3
2015-08-31,1279176.0,656606.0,365482.0,156707.0,207156.0,42810.0,168455.0,33198.0,2909590.0,2291681.3,1865483.0,4157164.3,7066754.3
2015-09-30,1357057.0,403601.0,358203.0,128821.0,132265.0,42298.0,149477.0,28683.0,2600405.0,1929263.4,1251955.0,3181218.4,5781623.4
2015-10-31,978329.0,477299.0,442988.0,139398.0,157957.0,50059.0,153967.0,25474.0,2425471.0,2162586.7,911336.0,3073922.7,5499393.7
2015-11-30,706325.0,523274.0,418257.0,156448.0,210852.0,57688.0,172068.0,24603.0,2269515.0,2507999.5,627539.0,3135538.5,5405053.5
2015-12-31,824656.0,705131.0,437926.0,234277.0,321019.0,74234.0,216463.0,33815.0,2847521.0,3128658.6,831993.0,3960651.6,6808172.6

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 12 entries, 2015-01-31 to 2015-12-31
Freq: M
Data columns (total 13 columns):
Europe             12 non-null float64
Caribbean          12 non-null float64
Asia               12 non-null float64
South America      12 non-null float64
Central America    12 non-null float64
Oceania            12 non-null float64
Middle East        12 non-null float64
Africa             12 non-null float64
Total Overseas     12 non-null float64
Mexico             12 non-null float64
Canada             12 non-null float64
North America      12 non-null float64
Grand Total        12 non-null float64
dtypes: float64(13)
memory usage: 1.3 KB

None

In [13]:
df16 = to_time(df16,2016)
display(df16)
display(df16.info())

,Europe,Caribbean,Asia,South America,Central America,Oceania,Middle East,Africa,Total Overseas,Mexico,Canada,North America,Grand Total
2016-01-31,615470.0,588925.0,434366.0,153576.0,258520.0,58440.0,178493.0,26709.0,2314499.0,2524261.2,536185.0,3060446.2,5374945.2
2016-02-29,546246.0,643467.0,351237.0,160319.0,260786.0,72704.0,152882.0,22661.0,2210302.0,2417122.3,625767.0,3042889.3,5253191.3
2016-03-31,912603.0,809877.0,479397.0,183477.0,320266.0,68529.0,184931.0,31706.0,2990786.0,2837326.8,768588.0,3605914.8,6596700.8
2016-04-30,976044.0,687500.0,440303.0,145179.0,222167.0,47648.0,147391.0,26726.0,2692958.0,2383351.3,805860.0,3189211.3,5882169.3
2016-05-31,1441559.0,641598.0,452593.0,160869.0,227876.0,51715.0,188052.0,33005.0,3197267.0,2410265.9,1164428.0,3574693.9,6771960.9
2016-06-30,1837000.0,803919.0,488734.0,202821.0,319273.0,58120.0,214771.0,36015.0,3960653.0,2631167.0,1684163.0,4315330.0,8275983.0
2016-07-31,1654182.0,890781.0,460034.0,198609.0,332404.0,59085.0,221530.0,41695.0,3858320.0,2956915.1,2306960.0,5263875.1,9122195.1
2016-08-31,1356022.0,645065.0,388236.0,178300.0,218258.0,52475.0,177224.0,32521.0,3048101.0,2422245.8,1950223.0,4372468.8,7420569.8
2016-09-30,1437634.0,416980.0,405050.0,129157.0,146172.0,47696.0,155408.0,28808.0,2766905.0,2094332.9,1415326.0,3509658.9,6276563.9
2016-10-31,1055110.0,451579.0,488441.0,131988.0,161373.0,55719.0,148121.0,25423.0,2517754.0,2512603.4,1012488.0,3525091.4,6042845.4
2016-11-30,807099.0,547257.0,479222.0,146737.0,202423.0,67294.0,179799.0,25380.0,2455211.0,2598722.3,712958.0,3311680.3,5766891.3
2016-12-31,975396.0,751937.0,515345.0,219445.0,314615.0,85458.0,227707.0,34243.0,3124146.0,3406083.8,911921.0,4318004.8,7442150.8

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 12 entries, 2016-01-31 to 2016-12-31
Freq: M
Data columns (total 13 columns):
Europe             12 non-null float64
Caribbean          12 non-null float64
Asia               12 non-null float64
South America      12 non-null float64
Central America    12 non-null float64
Oceania            12 non-null float64
Middle East        12 non-null float64
Africa             12 non-null float64
Total Overseas     12 non-null float64
Mexico             12 non-null float64
Canada             12 non-null float64
North America      12 non-null float64
Grand Total        12 non-null float64
dtypes: float64(13)
memory usage: 1.3 KB

None

In [14]:
df17 = to_time(df17, 2017)
display(df17)
display(df17.info())

,Europe,Caribbean,Asia,South America,Central America,Oceania,Middle East,Africa,Total Overseas,Mexico,Canada,North America,Grand Total
2017-01-31,701121.0,621686.0,476827.0,135006.0,241293.0,64055.0,197077.0,25947.0,2463012.0,2.649245e+06,566595.0,3.215840e+06,5.678852e+06
2017-02-28,620460.0,683538.0,387650.0,146664.0,252067.0,81740.0,151649.0,22812.0,2346580.0,2.604381e+06,618674.0,3.223055e+06,5.569635e+06
2017-03-31,1064429.0,822751.0,513034.0,165836.0,310182.0,76821.0,175111.0,30986.0,3159150.0,3.102558e+06,723952.0,3.826510e+06,6.985660e+06
2017-04-30,1212898.0,783076.0,495884.0,148540.0,252392.0,57894.0,174841.0,33273.0,3158798.0,2.883496e+06,881188.0,3.764684e+06,6.923482e+06
2017-05-31,1684659.0,714117.0,477954.0,154436.0,232366.0,51950.0,189500.0,34840.0,3539822.0,2.761663e+06,1160399.0,3.922062e+06,7.461884e+06
2017-06-30,2139814.0,865847.0,525875.0,193673.0,336150.0,57895.0,229494.0,44089.0,4392837.0,3.092416e+06,1808757.0,4.901173e+06,9.294010e+06
2017-07-31,1867812.0,959510.0,504326.0,182796.0,332634.0,60849.0,236867.0,46430.0,4191224.0,3.310766e+06,2278435.0,5.589201e+06,9.780425e+06
2017-08-31,1627172.0,718092.0,419586.0,161435.0,222045.0,50157.0,201242.0,39668.0,3439397.0,2.706861e+06,2066968.0,4.773829e+06,8.213226e+06
2017-09-30,1676165.0,356693.0,420099.0,119148.0,147044.0,47780.0,157995.0,30051.0,2954975.0,2.425061e+06,1461190.0,3.886251e+06,6.841226e+06
2017-10-31,1201375.0,473086.0,504961.0,137624.0,169255.0,58010.0,168668.0,28754.0,2741733.0,2.718928e+06,1060594.0,3.779522e+06,6.521256e+06
2017-11-30,928855.0,567498.0,507576.0,157642.0,216656.0,75065.0,190353.0,29748.0,2673393.0,3.069218e+06,754760.0,3.823978e+06,6.497371e+06
2017-12-31,1068009.0,754622.0,537118.0,222500.0,319918.0,94280.0,233537.0,36553.0,3266537.0,3.725467e+06,944412.0,4.669879e+06,7.936416e+06

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 12 entries, 2017-01-31 to 2017-12-31
Freq: M
Data columns (total 13 columns):
Europe             12 non-null float64
Caribbean          12 non-null float64
Asia               12 non-null float64
South America      12 non-null float64
Central America    12 non-null float64
Oceania            12 non-null float64
Middle East        12 non-null float64
Africa             12 non-null float64
Total Overseas     12 non-null float64
Mexico             12 non-null float64
Canada             12 non-null float64
North America      12 non-null float64
Grand Total        12 non-null float64
dtypes: float64(13)
memory usage: 1.3 KB

None

In [15]:
outbounds = pd.concat([df14,df15,df16,df17])
display(outbounds)

,Europe,Caribbean,Asia,South America,Central America,Oceania,Middle East,Africa,Total Overseas,Mexico,Canada,North America,Grand Total
2014-01-31,577691.0,498620.0,376296.0,127749.0,219192.0,51774.0,140179.0,23982.0,2015483.0,2.073218e+06,450103.0,2.523322e+06,4.538804e+06
2014-02-28,497003.0,550203.0,312814.0,137612.0,225540.0,62658.0,119192.0,21066.0,1926088.0,1.975581e+06,483157.0,2.458738e+06,4.384826e+06
2014-03-31,806663.0,705211.0,397296.0,154680.0,283108.0,60097.0,140706.0,27950.0,2575711.0,2.396038e+06,553030.0,2.949068e+06,5.524780e+06
2014-04-30,868367.0,629774.0,381817.0,123068.0,213929.0,41314.0,141744.0,27596.0,2427609.0,2.052385e+06,662708.0,2.715093e+06,5.142702e+06
2014-05-31,1305842.0,624280.0,379197.0,144464.0,209012.0,46359.0,162244.0,36044.0,2907442.0,2.123548e+06,992697.0,3.116245e+06,6.023687e+06
2014-06-30,1614486.0,742860.0,424155.0,208023.0,301095.0,45003.0,180874.0,40542.0,3557038.0,2.199477e+06,1402535.0,3.602012e+06,7.159050e+06
2014-07-31,1413798.0,821650.0,397960.0,167627.0,308557.0,48892.0,148098.0,40732.0,3347314.0,2.313741e+06,1840827.0,4.154568e+06,7.501882e+06
2014-08-31,1185907.0,629224.0,342239.0,143609.0,206176.0,39913.0,145620.0,34231.0,2726919.0,2.113129e+06,1889787.0,4.002916e+06,6.729835e+06
2014-09-30,1241537.0,347244.0,338630.0,112581.0,121158.0,38013.0,133173.0,29205.0,2361541.0,1.608221e+06,1074367.0,2.682588e+06,5.044129e+06
2014-10-31,915090.0,436791.0,397721.0,123729.0,145848.0,46573.0,134341.0,25974.0,2226067.0,1.875763e+06,860615.0,2.736378e+06,4.962445e+06
2014-11-30,675275.0,513983.0,364160.0,134019.0,180485.0,53030.0,143546.0,21875.0,2086373.0,2.265596e+06,562470.0,2.828066e+06,4.914439e+06
2014-12-31,790557.0,672032.0,396232.0,194344.0,283007.0,67699.0,189966.0,28726.0,2622563.0,2.884937e+06,742276.0,3.627213e+06,6.249776e+06
2015-01-31,585982.0,560268.0,392463.0,129211.0,223884.0,53439.0,162570.0,25125.0,2132942.0,2.295254e+06,476015.0,2.771269e+06,4.904211e+06
2015-02-28,500982.0,610837.0,325069.0,135309.0,230021.0,67496.0,136853.0,20343.0,2026910.0,2.208351e+06,507236.0,2.715587e+06,4.742497e+06
2015-03-31,840187.0,755526.0,439242.0,154234.0,283876.0,61684.0,166257.0,27766.0,2728772.0,2.533088e+06,591445.0,3.124533e+06,5.853305e+06
2015-04-30,926094.0,671777.0,403753.0,126276.0,208872.0,42818.0,145791.0,24945.0,2550326.0,2.268789e+06,701069.0,2.969858e+06,5.520184e+06
2015-05-31,1339841.0,647866.0,409652.0,146458.0,207285.0,45192.0,181811.0,31857.0,3009962.0,2.290029e+06,1069379.0,3.359408e+06,6.369370e+06
2015-06-30,1741971.0,783320.0,436330.0,182575.0,301400.0,54120.0,191786.0,35090.0,3726592.0,2.444530e+06,1580560.0,4.025090e+06,7.751682e+06
2015-07-31,1518260.0,852692.0,413295.0,179749.0,306278.0,51647.0,199753.0,39673.0,3561347.0,2.673055e+06,2054370.0,4.727425e+06,8.288772e+06
2015-08-31,1279176.0,656606.0,365482.0,156707.0,207156.0,42810.0,168455.0,33198.0,2909590.0,2.291681e+06,1865483.0,4.157164e+06,7.066754e+06
2015-09-30,1357057.0,403601.0,358203.0,128821.0,132265.0,42298.0,149477.0,28683.0,2600405.0,1.929263e+06,1251955.0,3.181218e+06,5.781623e+06
2015-10-31,978329.0,477299.0,442988.0,139398.0,157957.0,50059.0,153967.0,25474.0,2425471.0,2.162587e+06,911336.0,3.073923e+06,5.499394e+06
2015-11-30,706325.0,523274.0,418257.0,156448.0,210852.0,57688.0,172068.0,24603.0,2269515.0,2.508000e+06,627539.0,3.135538e+06,5.405054e+06
2015-12-31,824656.0,705131.0,437926.0,234277.0,321019.0,74234.0,216463.0,33815.0,2847521.0,3.128659e+06,831993.0,3.960652e+06,6.808173e+06
2016-01-31,615470.0,588925.0,434366.0,153576.0,258520.0,58440.0,178493.0,26709.0,2314499.0,2.524261e+06,536185.0,3.060446e+06,5.374945e+06
2016-02-29,546246.0,643467.0,351237.0,160319.0,260786.0,72704.0,152882.0,22661.0,2210302.0,2.417122e+06,625767.0,3.042889e+06,5.253191e+06
2016-03-31,912603.0,809877.0,479397.0,183477.0,320266.0,68529.0,184931.0,31706.0,2990786.0,2.837327e+06,768588.0,3.605915e+06,6.596701e+06
2016-04-30,976044.0,687500.0,440303.0,145179.0,222167.0,47648.0,147391.0,26726.0,2692958.0,2.383351e+06,805860.0,3.189211e+06,5.882169e+06
2016-05-31,1441559.0,641598.0,452593.0,160869.0,227876.0,51715.0,188052.0,33005.0,3197267.0,2.410266e+06,1164428.0,3.574694e+06,6.771961e+06
2016-06-30,1837000.0,803919.0,488734.0,202821.0,319273.0,58120.0,214771.0,36015.0,3960653.0,2.631167e+06,1684163.0,4.315330e+06,8.275983e+06
2016-07-31,1654182.0,890781.0,460034.0,198609.0,332404.0,59085.0,221530.0,41695.0,3858320.0,2.956915e+06,2306960.0,5.263875e+06,9.122195e+06
2016-08-31,1356022.0,645065.0,388236.0,178300.0,218258.0,52475.0,177224.0,32521.0,3048101.0,2.422246e+06,1950223.0,4.372469e+06,7.420570e+06
2016-09-30,1437634.0,416980.0,405050.0,129157.0,146172.0,47696.0,155408.0,28808.0,2766905.0,2.094333e+06,1415326.0,3.509659e+06,6.276564e+06
2016-10-31,1055110.0,451579.0,488441.0,131988.0,161373.0,55719.0,148121.0,25423.0,2517754.0,2.512603e+06,1012488.0,3.525091e+06,6.042845e+06
2016-11-30,807099.0,547257.0,479222.0,146737.0,202423.0,67294.0,179799.0,25380.0,2455211.0,2.598722e+06,712958.0,3.311680e+06,5.766891e+06
2016-12-31,975396.0,751937.0,515345.0,219445.0,314615.0,85458.0,227707.0,34243.0,3124146.0,3.406084e+06,911921.0,4.318005e+06,7.442151e+06
2017-01-31,701121.0,621686.0,476827.0,135006.0,241293.0,64055.0,197077.0,25947.0,2463012.0,2.649245e+06,566595.0,3.215840e+06,5.678852e+06
2017-02-28,620460.0,683538.0,387650.0,146664.0,252067.0,81740.0,151649.0,22812.0,2346580.0,2.604381e+06,618674.0,3.223055e+06,5.569635e+06
2017-03-31,1064429.0,822751.0,513034.0,165836.0,310182.0,76821.0,175111.0,30986.0,3159150.0,3.102558e+06,723952.0,3.826510e+06,6.985660e+06
2017-04-30,1212898.0,783076.0,495884.0,148540.0,252392.0,57894.0,174841.0,33273.0,3158798.0,2.883496e+06,881188.0,3.764684e+06,6.923482e+06
2017-05-31,1684659.0,714117.0,477954.0,154436.0,232366.0,51950.0,189500.0,34840.0,3539822.0,2.761663e+06,1160399.0,3.922062e+06,7.461884e+06
2017-06-30,2139814.0,865847.0,525875.0,193673.0,336150.0,57895.0,229494.0,44089.0,4392837.0,3.092416e+06,1808757.0,4.901173e+06,9.294010e+06
2017-07-31,1867812.0,959510.0,504326.0,182796.0,332634.0,60849.0,236867.0,46430.0,4191224.0,3.310766e+06,2278435.0,5.589201e+06,9.780425e+06
2017-08-31,1627172.0,718092.0,419586.0,161435.0,222045.0,50157.0,201242.0,39668.0,3439397.0,2.706861e+06,2066968.0,4.773829e+06,8.213226e+06
2017-09-30,1676165.0,356693.0,420099.0,119148.0,147044.0,47780.0,157995.0,30051.0,2954975.0,2.425061e+06,1461190.0,3.886251e+06,6.841226e+06
2017-10-31,1201375.0,473086.0,504961.0,137624.0,169255.0,58010.0,168668.0,28754.0,2741733.0,2.718928e+06,1060594.0,3.779522e+06,6.521256e+06
2017-11-30,928855.0,567498.0,507576.0,157642.0,216656.0,75065.0,190353.0,29748.0,2673393.0,3.069218e+06,754760.0,3.823978e+06,6.497371e+06
2017-12-31,1068009.0,754622.0,537118.0,222500.0,319918.0,94280.0,233537.0,36553.0,3266537.0,3.725467e+06,944412.0,4.669879e+06,7.936416e+06

In [16]:
# Export the finalized dataset as csv file
outbounds.to_csv('Dataset/outbounds14to17.csv', float_format='%.2f', encoding='utf-8')