In [1]:
# Import packages
import pandas as pd
import matplotlib.pyplot as plt
from IPython.display import display, HTML

In [2]:
# File path
food_business_file = 'Dataset/food_business.csv'

In [3]:
# Read in data as DataFrame
food_business = pd.read_csv(food_business_file)

In [4]:
display(food_business.info())
display(food_business.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33289 entries, 0 to 33288
Data columns (total 10 columns):
business_id     33289 non-null object
name            33289 non-null object
attributes      32589 non-null object
city            33289 non-null object
state           33289 non-null object
categories      33289 non-null object
stars           33289 non-null float64
review_count    33289 non-null int64
postal_code     33199 non-null float64
population      33289 non-null int64
dtypes: float64(2), int64(2), object(6)
memory usage: 2.5+ MB

None

              stars  review_count   postal_code    population
count  33289.000000  33289.000000  33199.000000  3.328900e+04
mean       3.509943     84.590105  62290.279195  4.716956e+05
std        0.868808    198.634857  27892.847155  4.865512e+05
min        1.000000      3.000000  12919.000000  2.280000e+02
25%        3.000000      9.000000  44012.000000  5.621200e+04
50%        3.500000     27.000000  85016.000000  3.024070e+05
75%        4.000000     81.000000  85326.000000  6.416760e+05
max        5.000000   7968.000000  97535.000000  1.626078e+06