In [33]:
# Import packages
import pandas as pd
import json
import re
from pandas.io.json import json_normalize
from IPython.display import display, HTML

In [34]:
# Files path
business_file = 'Dataset/yelp_academic_dataset_business.json'
census_file = 'Dataset/sub-est2017_all.csv'
zipcode_file = 'Dataset/zipcode_database.csv'

In [35]:
# Read in data as DataFrame
business_df = pd.read_json(business_file, lines=True)
census_df = pd.read_csv(census_file)
zipcode_df = pd.read_csv(zipcode_file)

In [36]:
# Observe business_df data
display(business_df.head())
display(business_df.tail())
display(business_df.info())

,address,attributes,business_id,categories,city,hours,is_open,latitude,longitude,name,neighborhood,postal_code,review_count,stars,state
0,1314 44 Avenue NE,"{u'BusinessParking': u'{'garage': False, 'stre...",Apn5Q_b6Nz61Tq4XzPdf9A,"Tours, Breweries, Pizza, Restaurants, Food, Ho...",Calgary,"{u'Monday': u'8:30-17:0', u'Tuesday': u'11:0-2...",1,51.091813,-114.031675,Minhas Micro Brewery,,T2E 6L6,24,4.0,AB
1,,"{u'RestaurantsTableService': u'False', u'GoodF...",AjEbIBw6ZFfln7ePHha9PA,"Chicken Wings, Burgers, Caterers, Street Vendo...",Henderson,"{u'Sunday': u'17:0-23:0', u'Friday': u'17:0-23...",0,35.960734,-114.939821,CK'S BBQ & Catering,,89002,3,4.5,NV
2,1335 rue Beaubien E,"{u'RestaurantsTableService': u'True', u'GoodFo...",O8S5hYJ1SMc8fA4QBtVujA,"Breakfast & Brunch, Restaurants, French, Sandw...",Montréal,"{u'Monday': u'10:0-22:0', u'Tuesday': u'10:0-2...",0,45.540503,-73.599300,La Bastringue,Rosemont-La Petite-Patrie,H2G 1K7,5,4.0,QC
3,211 W Monroe St,None,bFzdJJ3wp3PZssNEsyU23g,"Insurance, Financial Services",Phoenix,None,1,33.449999,-112.076979,Geico Insurance,,85003,8,1.5,AZ
4,2005 Alyth Place SE,{u'BusinessAcceptsCreditCards': u'True'},8USyCYqpScwiNEb58Bt6CA,"Home & Garden, Nurseries & Gardening, Shopping...",Calgary,"{u'Friday': u'8:0-17:0', u'Tuesday': u'8:0-17:...",1,51.035591,-114.027366,Action Engine,,T2H 0N5,4,2.0,AB

,address,attributes,business_id,categories,city,hours,is_open,latitude,longitude,name,neighborhood,postal_code,review_count,stars,state
188588,"8000 McKnight Rd, Ste 570","{u'AcceptsInsurance': u'False', u'ByAppointmen...",sMQAZ3DkfrURFoJAyOhjEw,"Skin Care, Beauty & Spas, Day Spas, Massage",Pittsburgh,"{u'Monday': u'10:0-21:0', u'Tuesday': u'10:0-2...",0,40.551152,-80.021213,Ross Massage,,15237,9,2.5,PA
188589,3341 Babcock Blvd,None,6hvuCibNS4uECetHb9MCQQ,"Fashion, Women's Clothing, Accessories, Bridal...",Pittsburgh,None,1,40.534242,-80.019556,Four Seasons Boutique,,15237,5,2.0,PA
188590,5825 Thunder Rd,"{u'BusinessParking': u'{'garage': False, 'stre...",KleCXFYOmdACcQUvf6_XEg,"Mobile Phones, Shopping, Department Stores, Fo...",Concord,"{u'Monday': u'0:0-0:0', u'Tuesday': u'0:0-0:0'...",1,35.378669,-80.724733,Walmart Supercenter,,28027,26,3.0,NC
188591,7601 Scott Padgett Pkwy,"{u'BusinessAcceptsCreditCards': u'True', u'Res...",3_fIsSxN2RBovQ_6EFtLzA,"Event Planning & Services, Hotels & Travel, Ho...",Concord,"{u'Monday': u'0:0-0:0', u'Tuesday': u'0:0-0:0'...",1,35.364366,-80.703454,Residence Inn Charlotte Concord,,28027,19,4.0,NC
188592,"3900 Paradise Rd, Ste R","{u'BusinessParking': u'{'garage': False, 'stre...",NkOvIueadjFUxeCyq_uQEw,"Makeup Artists, Men's Clothing, Swimwear, Shop...",Las Vegas,"{u'Tuesday': u'11:0-19:0', u'Friday': u'11:0-1...",1,36.118697,-115.154269,Tito Jimy Salon and Boutique,Eastside,89169,8,4.0,NV

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 188593 entries, 0 to 188592
Data columns (total 15 columns):
address         188593 non-null object
attributes      162807 non-null object
business_id     188593 non-null object
categories      188052 non-null object
city            188593 non-null object
hours           143791 non-null object
is_open         188593 non-null int64
latitude        188587 non-null float64
longitude       188587 non-null float64
name            188593 non-null object
neighborhood    188593 non-null object
postal_code     188593 non-null object
review_count    188593 non-null int64
stars           188593 non-null float64
state           188593 non-null object
dtypes: float64(3), int64(2), object(10)
memory usage: 21.6+ MB

None

In [37]:
# Observe census_df data
display(census_df.head())
display(census_df.tail())
display(census_df.info())

,SUMLEV,STATE,COUNTY,PLACE,COUSUB,CONCIT,PRIMGEO_FLAG,FUNCSTAT,NAME,STNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015,POPESTIMATE2016,POPESTIMATE2017
0,40,1,0,0,0,0,0,A,Alabama,Alabama,4779736,4780135,4785579,4798649,4813946,4827660,4840037,4850858,4860545,4874747
1,162,1,0,124,0,0,0,A,Abbeville city,Alabama,2688,2688,2684,2677,2629,2612,2595,2587,2575,2567
2,162,1,0,460,0,0,0,A,Adamsville city,Alabama,4522,4522,4516,4502,4479,4457,4437,4409,4376,4347
3,162,1,0,484,0,0,0,A,Addison town,Alabama,758,754,751,751,744,743,740,734,734,728
4,162,1,0,676,0,0,0,A,Akron town,Alabama,356,356,355,345,345,341,337,335,332,332

,SUMLEV,STATE,COUNTY,PLACE,COUSUB,CONCIT,PRIMGEO_FLAG,FUNCSTAT,NAME,STNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015,POPESTIMATE2016,POPESTIMATE2017
81541,157,56,43,99990,0,0,1,F,Balance of Washakie County,Wyoming,2786,2786,2787,2761,2740,2743,2696,2698,2660,2618
81542,50,56,45,0,0,0,0,A,Weston County,Wyoming,7208,7208,7198,7141,7074,7136,7142,7181,7198,6927
81543,157,56,45,56215,0,0,1,A,Newcastle city,Wyoming,3532,3533,3530,3505,3472,3480,3482,3495,3514,3389
81544,157,56,45,79125,0,0,1,A,Upton town,Wyoming,1100,1100,1098,1089,1083,1090,1098,1102,1104,1060
81545,157,56,45,99990,0,0,1,F,Balance of Weston County,Wyoming,2576,2575,2570,2547,2519,2566,2562,2584,2580,2478

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81546 entries, 0 to 81545
Data columns (total 20 columns):
SUMLEV               81546 non-null int64
STATE                81546 non-null int64
COUNTY               81546 non-null int64
PLACE                81546 non-null int64
COUSUB               81546 non-null int64
CONCIT               81546 non-null int64
PRIMGEO_FLAG         81546 non-null int64
FUNCSTAT             81546 non-null object
NAME                 81546 non-null object
STNAME               81546 non-null object
CENSUS2010POP        81546 non-null object
ESTIMATESBASE2010    81546 non-null int64
POPESTIMATE2010      81546 non-null int64
POPESTIMATE2011      81546 non-null int64
POPESTIMATE2012      81546 non-null int64
POPESTIMATE2013      81546 non-null int64
POPESTIMATE2014      81546 non-null int64
POPESTIMATE2015      81546 non-null int64
POPESTIMATE2016      81546 non-null int64
POPESTIMATE2017      81546 non-null int64
dtypes: int64(16), object(4)
memory usage: 12.4+ MB

None

In [38]:
# Observe zipcode_df data
display(zipcode_df.head())
display(zipcode_df.tail())
display(zipcode_df.info())

,RecordNumber,Zipcode,ZipCodeType,City,State,LocationType,Lat,Long,Xaxis,Yaxis,Zaxis,WorldRegion,Country,LocationText,Location,Decommisioned,TaxReturnsFiled,EstimatedPopulation,TotalWages,Notes
0,1,704,STANDARD,PARC PARQUE,PR,NOT ACCEPTABLE,17.96,-66.22,0.38,-0.87,0.3,NaN,US,"Parc Parque, PR",NA-US-PR-PARC PARQUE,False,NaN,NaN,NaN,NaN
1,2,704,STANDARD,PASEO COSTA DEL SUR,PR,NOT ACCEPTABLE,17.96,-66.22,0.38,-0.87,0.3,NaN,US,"Paseo Costa Del Sur, PR",NA-US-PR-PASEO COSTA DEL SUR,False,NaN,NaN,NaN,NaN
2,3,704,STANDARD,SECT LANAUSSE,PR,NOT ACCEPTABLE,17.96,-66.22,0.38,-0.87,0.3,NaN,US,"Sect Lanausse, PR",NA-US-PR-SECT LANAUSSE,False,NaN,NaN,NaN,NaN
3,4,704,STANDARD,URB EUGENE RICE,PR,NOT ACCEPTABLE,17.96,-66.22,0.38,-0.87,0.3,NaN,US,"Urb Eugene Rice, PR",NA-US-PR-URB EUGENE RICE,False,NaN,NaN,NaN,NaN
4,5,704,STANDARD,URB GONZALEZ,PR,NOT ACCEPTABLE,17.96,-66.22,0.38,-0.87,0.3,NaN,US,"Urb Gonzalez, PR",NA-US-PR-URB GONZALEZ,False,NaN,NaN,NaN,NaN

,RecordNumber,Zipcode,ZipCodeType,City,State,LocationType,Lat,Long,Xaxis,Yaxis,Zaxis,WorldRegion,Country,LocationText,Location,Decommisioned,TaxReturnsFiled,EstimatedPopulation,TotalWages,Notes
81826,81832,10200,STANDARD,NEW YORK CITY,NY,NOT ACCEPTABLE,40.77,73.95,0.20,0.72,0.65,NaN,US,"New York City, NY",NA-US-NY-NEW YORK CITY,False,NaN,NaN,NaN,NaN
81827,81833,10200,STANDARD,NY,NY,NOT ACCEPTABLE,40.77,73.95,0.20,0.72,0.65,NaN,US,"NY, NY",NA-US-NY-NY,False,NaN,NaN,NaN,NaN
81828,81834,10200,STANDARD,NY CITY,NY,NOT ACCEPTABLE,40.77,73.95,0.20,0.72,0.65,NaN,US,"NY CITY, NY",NA-US-NY-NY CITY,False,NaN,NaN,NaN,NaN
81829,81835,10200,STANDARD,NYC,NY,NOT ACCEPTABLE,40.77,73.95,0.20,0.72,0.65,NaN,US,"NYC, NY",NA-US-NY-NYC,False,NaN,NaN,NaN,NaN
81830,81837,9323,MILITARY,APO,AE,PRIMARY,-44.25,33.53,0.59,0.39,-0.69,NaN,IQ,Iraq,ME-IQ,False,NaN,NaN,NaN,NaN

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81831 entries, 0 to 81830
Data columns (total 20 columns):
RecordNumber           81831 non-null int64
Zipcode                81831 non-null int64
ZipCodeType            81831 non-null object
City                   81831 non-null object
State                  81831 non-null object
LocationType           81831 non-null object
Lat                    81178 non-null float64
Long                   81178 non-null float64
Xaxis                  81831 non-null float64
Yaxis                  81831 non-null float64
Zaxis                  81831 non-null float64
WorldRegion            334 non-null object
Country                81831 non-null object
LocationText           81180 non-null object
Location               81830 non-null object
Decommisioned          81831 non-null bool
TaxReturnsFiled        58447 non-null float64
EstimatedPopulation    58447 non-null float64
TotalWages             58354 non-null float64
Notes                  1844 non-null object
dtypes: bool(1), float64(8), int64(2), object(9)
memory usage: 11.9+ MB

None

In [39]:
# Extract data for data wrangling purpose 
business_data = business_df[['business_id','name','attributes','city','state','categories','stars','review_count','is_open','latitude','longitude','postal_code']]
# Get area name, state name and 2017 population from census_df
census_data = census_df[['NAME','STNAME','POPESTIMATE2017']]
census_data.columns = ['area', 'state', 'population']
zipcode_data = zipcode_df[['Zipcode','City','State','Lat','Long','Country','Location','Decommisioned']]
zipcode_data.columns = ['postal_code','city','state','lat','long','country','location','decommisioned']

In [40]:
# Observe the new constructed dataframe
display(business_data)
display(census_data)
display(zipcode_data)

,business_id,name,attributes,city,state,categories,stars,review_count,is_open,latitude,longitude,postal_code
0,Apn5Q_b6Nz61Tq4XzPdf9A,Minhas Micro Brewery,"{u'BusinessParking': u'{'garage': False, 'stre...",Calgary,AB,"Tours, Breweries, Pizza, Restaurants, Food, Ho...",4.0,24,1,51.091813,-114.031675,T2E 6L6
1,AjEbIBw6ZFfln7ePHha9PA,CK'S BBQ & Catering,"{u'RestaurantsTableService': u'False', u'GoodF...",Henderson,NV,"Chicken Wings, Burgers, Caterers, Street Vendo...",4.5,3,0,35.960734,-114.939821,89002
2,O8S5hYJ1SMc8fA4QBtVujA,La Bastringue,"{u'RestaurantsTableService': u'True', u'GoodFo...",Montréal,QC,"Breakfast & Brunch, Restaurants, French, Sandw...",4.0,5,0,45.540503,-73.599300,H2G 1K7
3,bFzdJJ3wp3PZssNEsyU23g,Geico Insurance,None,Phoenix,AZ,"Insurance, Financial Services",1.5,8,1,33.449999,-112.076979,85003
4,8USyCYqpScwiNEb58Bt6CA,Action Engine,{u'BusinessAcceptsCreditCards': u'True'},Calgary,AB,"Home & Garden, Nurseries & Gardening, Shopping...",2.0,4,1,51.035591,-114.027366,T2H 0N5
5,45bWSZtniwPRiqlivpS8Og,The Coffee Bean & Tea Leaf,"{u'BusinessParking': u'{'garage': False, 'stre...",Phoenix,AZ,"Coffee & Tea, Food",4.0,63,1,33.671375,-112.030017,85024
6,9A2quhZLyWk0akUetBd8hQ,Bnc Cake House,"{u'RestaurantsPriceRange2': u'1', u'BusinessPa...",Toronto,ON,"Food, Bakeries",4.0,7,0,43.664378,-79.414424,M6G 1K8
7,6OuOZAok8ikONMS_T3EzXg,Thai One On,"{u'Alcohol': u'none', u'RestaurantsGoodForGrou...",Mississauga,ON,"Restaurants, Thai",2.0,7,1,43.712946,-79.632763,L4T 1A8
8,8-NRKkPY1UiFXW20WXKiXg,Filiberto's Mexican Food,"{u'RestaurantsTableService': u'False', u'GoodF...",Avondale,AZ,"Mexican, Restaurants",2.5,40,1,33.448106,-112.341302,85323
9,UTm5QZThPQlT35mkAcGOjg,Maggie & Stella's Gifts,"{u'BusinessAcceptsCreditCards': u'True', u'Res...",Pittsburgh,PA,"Flowers & Gifts, Gift Shops, Shopping",3.5,3,1,40.441421,-79.956457,15213
10,KapTdGyGs7RK0c68Z6hhhg,Sushi 8,"{u'RestaurantsGoodForGroups': u'True', u'Resta...",Markham,ON,"Restaurants, Japanese",1.5,12,0,43.862484,-79.306960,L3R 1M5
11,tZnSodhPwNr4bzrwJ1CSbw,Southern Accent Restaurant,"{u'RestaurantsTableService': u'True', u'GoodFo...",Toronto,ON,"Cajun/Creole, Southern, Restaurants",4.0,146,0,43.664125,-79.411886,M6G 2L7
12,_c3ixq9jYKxhLUB0czi0ug,Original Hamburger Works,"{u'Alcohol': u'full_bar', u'HasTV': u'True', u...",Phoenix,AZ,"Bars, Sports Bars, Dive Bars, Burgers, Nightli...",4.0,277,1,33.479807,-112.091188,85007
13,bBUMib8l6Me1ZB1_Qkezkg,Mysore Indian Cuisine,"{u'RestaurantsTableService': u'True', u'GoodFo...",Montréal,QC,"Restaurants, Pakistani, Indian, Middle Eastern",3.5,19,1,45.518036,-73.582174,H2W 1Z3
14,o_zDURWzgt5yM5HW_xGJsg,North Haven Barber Shop,"{u'BusinessParking': u'{'garage': False, 'stre...",Calgary,AB,"Beauty & Spas, Barbers",4.5,3,1,51.091857,-114.094625,T2K
15,IbTDLI02Sq50C7B-EWK1sg,Safeway Food & Drug,"{u'BusinessAcceptsCreditCards': u'True', u'Goo...",Calgary,AB,"Delis, Restaurants, Sandwiches",2.5,4,1,51.042469,-114.139574,T3C 1S2
16,r89Re4FNgVWHgBfjCVZyVw,Harlow,"{u'GoodForMeal': u'{'dessert': False, 'latenig...",Montréal,QC,"Nightlife, Bars, American (Traditional), Tapas...",3.5,12,0,45.507699,-73.553407,H2Y 3B3
17,hTzcHtk4-0QJnFUbkKpd5Q,Citi Trends,"{u'BusinessAcceptsCreditCards': u'True', u'Res...",Las Vegas,NV,"Shopping, Fashion, Department Stores",4.0,4,1,36.178348,-115.176916,89106
18,UwIpS9UKsPiKAv1fiEYhqg,Nevada Title And Payday Loans,None,Las Vegas,NV,"Financial Services, Check Cashing/Pay-day Loan...",1.0,4,1,36.188386,-115.186124,89106
19,vJIuDBdu01vCA8y1fwR1OQ,CakesbyToi,"{u'BusinessAcceptsCreditCards': u'True', u'Bik...",Las Vegas,NV,"American (Traditional), Food, Bakeries, Restau...",1.5,3,0,36.192284,-115.159272,89106
20,YZCHr68c5aEVHz0bkq9K2g,Park Stone Pavers,{u'BusinessAcceptsCreditCards': u'True'},Las Vegas,NV,"Home Services, Masonry/Concrete, Professional ...",5.0,20,1,36.260816,-115.171130,89031
21,gJ5xSt6147gkcZ9Es0WxlA,Rally's Hamburgers,None,Cleveland,OH,"Fast Food, Burgers, Restaurants",3.0,5,1,41.499989,-81.666375,44115
22,3ByGQOVgds2YEu6kzl-XEQ,Rib Shop,"{u'GoodForMeal': u'{'dessert': False, 'latenig...",Phoenix,AZ,"Nightlife, Bars, American (Traditional), Sport...",2.5,3,1,33.495298,-112.236076,85033
23,5J3b7j3Fzo9ISjChmoUoUA,Mabel's Bakery,"{u'BusinessParking': u'{'garage': False, 'stre...",Toronto,ON,"Food, Bakeries, Coffee & Tea",4.0,23,1,43.681328,-79.427884,M6C 1B5
24,CeuTRtwsq6w5rztGOyNMPg,Salsitas,"{u'GoodForMeal': u'{'dessert': False, 'latenig...",Phoenix,AZ,"Mexican, Restaurants",2.5,14,1,33.479671,-112.225173,85033
25,gsoSAb9t7Ar7Ww6O_3GuOg,Los Toros Numero 2,"{u'RestaurantsGoodForGroups': u'True', u'Resta...",Monticello,IL,"Mexican, Restaurants",3.5,6,0,40.009328,-88.576386,61856
26,guRyrKMBDkcHExGzwxSfvg,"ADT Security Services, Inc.","{u'BusinessAcceptsCreditCards': u'True', u'ByA...",Phoenix,AZ,"Home Services, Home Automation, Security Systems",1.0,4,1,33.431665,-112.102959,85001
27,PMDlKLd0Mxj0ngCpuUmE5Q,The Coffee Mill Restaurant,"{u'GoodForMeal': u'{'dessert': False, 'latenig...",Toronto,ON,"Restaurants, Food, Canadian (New), Coffee & Tea",3.5,25,0,43.670885,-79.392379,M5R 3K5
28,65DAbjsiws2_T600pNpWFQ,Laurier Optical,None,Mississauga,ON,"Optometrists, Shopping, Eyewear & Opticians, H...",1.0,3,1,43.609269,-79.699035,L5V 2X8
29,6YC6CsXRrmPv_iwfvc9onA,Teresas Pizzeria,"{u'GoodForMeal': u'{'dessert': False, 'latenig...",Streetsboro,OH,"Pizza, Restaurants",3.0,11,1,41.243783,-81.356661,44241
...,...,...,...,...,...,...,...,...,...,...,...,...
188563,eLExQY6_KOYaayapWNp5IQ,NCE BBQ,"{u'HasTV': u'True', u'RestaurantsReservations'...",Vaughan,ON,"Barbeque, Restaurants, Chinese",3.5,13,0,43.797454,-79.425888,L4J 2L1
188564,DXTsi_ZiRSsDTj3towE2GA,Chandler Nail and Sp,"{u'BusinessAcceptsCreditCards': u'True', u'Res...",Chandler,AZ,"Nail Salons, Beauty & Spas",2.5,6,1,33.260503,-111.856951,85248
188565,xMdkVHCYYSyw63hab0YTIg,Homejoy,{u'BusinessAcceptsCreditCards': u'True'},Toronto,ON,"Local Services, Professional Services, Carpet ...",3.5,9,0,43.653226,-79.383184,M5R 3V5
188566,m75vszskLJ1a14Ybco4IaA,Louis Vuitton Las Vegas Bellagio,"{u'BusinessAcceptsCreditCards': u'True', u'Res...",Las Vegas,NV,"Eyewear & Opticians, Leather Goods, Shopping, ...",4.0,51,1,36.113956,-115.173910,89109
188567,0zGeYN8ReYwVj27U7EHOJA,American Cafe,"{u'GoodForMeal': u'{'dessert': False, 'latenig...",Las Vegas,NV,"Delis, Restaurants, American (Traditional)",2.5,7,1,36.131516,-115.164565,89109
188568,v62o0cbntlpDXYaJtO9Lmw,Fort Apache Desert Inn Self Storage,{u'BusinessAcceptsCreditCards': u'True'},Las Vegas,NV,"Self Storage, Local Services",4.5,18,1,36.128235,-115.298251,89117
188569,CorrByydi35r-6SvmhYFHA,Glammed Up Vegas,"{u'BusinessParking': u'{'garage': False, 'stre...",Las Vegas,NV,"Hair Stylists, Hair Extensions, Hair Salons, B...",5.0,59,1,36.128561,-115.171130,89109
188570,K9ukZjvXhDjQZnrrOPqKSw,Montecristo Cigar Bar,"{u'WheelchairAccessible': u'True', u'BusinessP...",Las Vegas,NV,"Nightlife, Bars, Shopping, Tobacco Shops, Cock...",4.5,108,1,36.116775,-115.175368,89109
188571,G8mz50lT484Ak6qP2N-whQ,Mary Brown's Famous Chicken & Tater,"{u'RestaurantsTableService': u'False', u'GoodF...",North York,ON,"Chicken Wings, Fast Food, Restaurants",3.0,20,1,43.718455,-79.455328,M6A 2T2
188572,GdGXb80QKTMRP7AdPHDnuw,Breeze Daiquiri Bar,"{u'DogsAllowed': u'True', u'Alcohol': u'full_b...",Las Vegas,NV,"Beer Bar, Cocktail Bars, Nightlife, Bars",4.0,5,1,36.119650,-115.171428,89109
188573,JUygwe5d_MXCCOdk0WB30g,Steve Wynn's ShowStoppers,{u'GoodForKids': u'False'},Las Vegas,NV,"Performing Arts, Arts & Entertainment",4.0,109,0,36.126595,-115.165365,89109
188574,eei5BWaI4IG4w_9CUzEl2g,Winter's Village Ice Rink,"{u'RestaurantsGoodForGroups': u'True', u'Resta...",Henderson,NV,"Active Life, Arts & Entertainment, Nightlife, ...",3.5,28,0,36.022406,-115.091960,89052
188575,Hl0uVuDXi0IiQu0Qv3uKzg,Sugar Shack Records,"{u'BusinessAcceptsCreditCards': u'True', u'Res...",Madison,WI,"Music & DVDs, Books, Mags, Music & Video, Shop...",2.5,6,1,43.093412,-89.348454,53704
188576,UGSM0VrExwChdINXpzJ_pw,Beach Hardware,"{u'BusinessAcceptsCreditCards': u'True', u'Res...",Toronto,ON,"Shopping, Hardware Stores, Home & Garden",4.5,3,1,43.670761,-79.295926,M4E 1E8
188577,kbaXNZLUyVuWbeQxH-NNKw,Bell's BBQ,"{u'Alcohol': u'beer_and_wine', u'HasTV': u'Tru...",Henderson,NV,"American (Traditional), American (New), Restau...",4.0,447,1,35.993777,-115.101582,89052
188578,Qh3zSqqgLS-qScpHidp7ag,Aesthetics By Deena,None,Henderson,NV,"Hair Removal, Eyebrow Services, Beauty & Spas,...",5.0,5,1,35.990302,-115.102120,89052
188579,rOBczAlCZqgL-fA0wEidjA,Bank of America,"{u'BusinessAcceptsCreditCards': u'True', u'ByA...",Charlotte,NC,"Banks & Credit Unions, Financial Services, Rea...",2.0,3,1,35.163280,-80.739262,28227
188580,-3bL-QmK7-qBYLmQuSekBw,Impressions Tile & Marble,"{u'BusinessAcceptsCreditCards': u'True', u'ByA...",Las Vegas,NV,"Kitchen & Bath, Building Supplies, Home Servic...",4.5,6,1,36.105866,-115.206215,89103
188581,iYfHHScIrm9UooevAt-pZA,Inspirada Animal Hospital,None,Henderson,NV,"Pet Groomers, Pets, Veterinarians, Pet Sitting...",4.5,54,1,35.941616,-115.118942,89044
188582,i3AziW_jq009bm26PLXdLA,Vegas Auto Repair,{u'BusinessAcceptsCreditCards': u'True'},Las Vegas,NV,"Automotive, Body Shops, Auto Repair, Oil Chang...",4.5,9,1,36.120743,-115.192017,89103
188583,FxEoO2etCPrPLFOnGwV-Ww,Recharge Salon & Fitness,"{u'BusinessParking': u'{'garage': False, 'stre...",Las Vegas,NV,"Beauty & Spas, Nail Salons, Active Life, Gyms,...",4.5,20,1,36.114304,-115.193871,89103
188584,jYU4Nd71giCWpLuj5JIxgg,Aloha Nails,"{u'BusinessAcceptsCreditCards': u'True', u'Res...",Las Vegas,NV,"Beauty & Spas, Nail Salons, Hair Removal, Waxi...",3.5,76,1,36.115367,-115.226848,89103
188585,Y_7sZoSLTJ-2mNZS8JS5Pg,Toronto Yoga Mamas,"{u'GoodForKids': u'True', u'DogsAllowed': u'Fa...",Toronto,ON,"Massage, Health & Medical, Yoga, Doulas, Activ...",5.0,14,1,43.664756,-79.324295,M4L 1C9
188586,OAmRh1fSiTgtR1e0D4JsVQ,Authentic Taste Of Indian Cuisine,{u'Caters': u'True'},Toronto,ON,"Restaurants, Indian, Caterers, Event Planning ...",3.0,3,0,43.628947,-79.394420,M5V
188587,5qVlB_Qpw6oHWmtzGUview,Jimmy's On-it Automotive,None,Pittsburgh,PA,"Auto Repair, Used Car Dealers, Automotive",3.0,4,1,40.524391,-80.004396,15237
188588,sMQAZ3DkfrURFoJAyOhjEw,Ross Massage,"{u'AcceptsInsurance': u'False', u'ByAppointmen...",Pittsburgh,PA,"Skin Care, Beauty & Spas, Day Spas, Massage",2.5,9,0,40.551152,-80.021213,15237
188589,6hvuCibNS4uECetHb9MCQQ,Four Seasons Boutique,None,Pittsburgh,PA,"Fashion, Women's Clothing, Accessories, Bridal...",2.0,5,1,40.534242,-80.019556,15237
188590,KleCXFYOmdACcQUvf6_XEg,Walmart Supercenter,"{u'BusinessParking': u'{'garage': False, 'stre...",Concord,NC,"Mobile Phones, Shopping, Department Stores, Fo...",3.0,26,1,35.378669,-80.724733,28027
188591,3_fIsSxN2RBovQ_6EFtLzA,Residence Inn Charlotte Concord,"{u'BusinessAcceptsCreditCards': u'True', u'Res...",Concord,NC,"Event Planning & Services, Hotels & Travel, Ho...",4.0,19,1,35.364366,-80.703454,28027
188592,NkOvIueadjFUxeCyq_uQEw,Tito Jimy Salon and Boutique,"{u'BusinessParking': u'{'garage': False, 'stre...",Las Vegas,NV,"Makeup Artists, Men's Clothing, Swimwear, Shop...",4.0,8,1,36.118697,-115.154269,89169

                               area    state  population
0                           Alabama  Alabama     4874747
1                    Abbeville city  Alabama        2567
2                   Adamsville city  Alabama        4347
3                      Addison town  Alabama         728
4                        Akron town  Alabama         332
5                    Alabaster city  Alabama       33202
6                  Albertville city  Alabama       21392
7               Alexander City city  Alabama       14595
8                   Aliceville city  Alabama        2335
9                      Allgood town  Alabama         624
10                     Altoona town  Alabama         917
11                   Andalusia city  Alabama        8787
12                    Anderson town  Alabama         276
13                    Anniston city  Alabama       21770
14                        Arab city  Alabama        8284
15                     Ardmore town  Alabama        1398
16                        Argo town  Alabama        4268
17                      Ariton town  Alabama         739
18                       Arley town  Alabama         346
19                     Ashford town  Alabama        2144
20                     Ashland town  Alabama        1932
21                    Ashville city  Alabama        2291
22                      Athens city  Alabama       25616
23                      Atmore city  Alabama        9890
24                     Attalla city  Alabama        5827
25                      Auburn city  Alabama       63973
26                Autaugaville town  Alabama         855
27                        Avon town  Alabama         514
28                      Babbie town  Alabama         599
29                   Baileyton town  Alabama         622
...                             ...      ...         ...
81516               Sublette County  Wyoming        9799
81517                Big Piney town  Wyoming         524
81518                Marbleton town  Wyoming        1111
81519                 Pinedale town  Wyoming        1890
81520    Balance of Sublette County  Wyoming        6274
81521             Sweetwater County  Wyoming       43534
81522                  Bairoil town  Wyoming         100
81523                  Granger town  Wyoming         133
81524              Green River city  Wyoming       12070
81525             Rock Springs city  Wyoming       23350
81526                 Superior town  Wyoming         316
81527                Wamsutter town  Wyoming         484
81528  Balance of Sweetwater County  Wyoming        7081
81529                  Teton County  Wyoming       23265
81530                  Jackson town  Wyoming       10532
81531       Balance of Teton County  Wyoming       12733
81532                  Uinta County  Wyoming       20495
81533               Bear River town  Wyoming         518
81534                 Evanston city  Wyoming       11866
81535                    Lyman town  Wyoming        2067
81536            Mountain View town  Wyoming        1261
81537       Balance of Uinta County  Wyoming        4783
81538               Washakie County  Wyoming        8064
81539                Ten Sleep town  Wyoming         257
81540                  Worland city  Wyoming        5189
81541    Balance of Washakie County  Wyoming        2618
81542                 Weston County  Wyoming        6927
81543                Newcastle city  Wyoming        3389
81544                    Upton town  Wyoming        1060
81545      Balance of Weston County  Wyoming        2478

[81546 rows x 3 columns]

,postal_code,city,state,lat,long,country,location,decommisioned
0,704,PARC PARQUE,PR,17.96,-66.22,US,NA-US-PR-PARC PARQUE,False
1,704,PASEO COSTA DEL SUR,PR,17.96,-66.22,US,NA-US-PR-PASEO COSTA DEL SUR,False
2,704,SECT LANAUSSE,PR,17.96,-66.22,US,NA-US-PR-SECT LANAUSSE,False
3,704,URB EUGENE RICE,PR,17.96,-66.22,US,NA-US-PR-URB EUGENE RICE,False
4,704,URB GONZALEZ,PR,17.96,-66.22,US,NA-US-PR-URB GONZALEZ,False
5,704,URB LA FABRICA,PR,17.96,-66.22,US,NA-US-PR-URB LA FABRICA,False
6,704,URB MONTE SORIA 2,PR,17.96,-66.22,US,NA-US-PR-URB MONTE SORIA 2,False
7,704,VILLAS DEL COQUI,PR,17.96,-66.22,US,NA-US-PR-VILLAS DEL COQUI,False
8,705,AIBONITO,PR,18.14,-66.26,US,NA-US-PR-AIBONITO,False
9,705,BDA SAN LUIS,PR,18.14,-66.26,US,NA-US-PR-BDA SAN LUIS,False
10,705,BO LLANOS,PR,18.14,-66.26,US,NA-US-PR-BO LLANOS,False
11,705,BRISAS DE AIBONITO,PR,18.14,-66.26,US,NA-US-PR-BRISAS DE AIBONITO,False
12,705,COLINAS DE SAN FRANCISCO,PR,18.14,-66.26,US,NA-US-PR-COLINAS DE SAN FRANCISCO,False
13,705,EST DEL LLANO,PR,18.14,-66.26,US,NA-US-PR-EST DEL LLANO,False
14,705,EXT BELLA VISTA,PR,18.14,-66.26,US,NA-US-PR-EXT BELLA VISTA,False
15,705,EXT SAN LUIS,PR,18.14,-66.26,US,NA-US-PR-EXT SAN LUIS,False
16,705,EXT VILLA ROSALES,PR,18.14,-66.26,US,NA-US-PR-EXT VILLA ROSALES,False
17,705,REPTO ROBLES,PR,18.14,-66.26,US,NA-US-PR-REPTO ROBLES,False
18,705,URB BELLA VISTA,PR,18.14,-66.26,US,NA-US-PR-URB BELLA VISTA,False
19,705,URB BUENA VISTA,PR,18.14,-66.26,US,NA-US-PR-URB BUENA VISTA,False
20,705,URB GOLDEN VLG IV,PR,18.14,-66.26,US,NA-US-PR-URB GOLDEN VLG IV,False
21,705,URB LA PROVIDENCIA,PR,18.14,-66.26,US,NA-US-PR-URB LA PROVIDENCIA,False
22,705,VILLA DE LA ROSA,PR,18.14,-66.26,US,NA-US-PR-VILLA DE LA ROSA,False
23,705,VILLA ROSALES,PR,18.14,-66.26,US,NA-US-PR-VILLA ROSALES,False
24,705,VILLAS DEL COQUI,PR,18.14,-66.26,US,NA-US-PR-VILLAS DEL COQUI,False
25,610,ANASCO,PR,18.28,-67.14,US,NA-US-PR-ANASCO,False
26,610,BRISAS DE ANASCO,PR,18.28,-67.14,US,NA-US-PR-BRISAS DE ANASCO,False
27,610,EST DE VALLE VERDE,PR,18.28,-67.14,US,NA-US-PR-EST DE VALLE VERDE,False
28,610,JARD DE ANASCO,PR,18.28,-67.14,US,NA-US-PR-JARD DE ANASCO,False
29,610,PASEO DEL VALLE,PR,18.28,-67.14,US,NA-US-PR-PASEO DEL VALLE,False
...,...,...,...,...,...,...,...,...
81801,98460,TACOMA,WA,47.25,-122.44,US,NA-US-WA-TACOMA,True
81802,98460,WA STATE LOTTERY,WA,47.25,-122.44,US,NA-US-WA-WA STATE LOTTERY,True
81803,98477,WEYERHAEUSER CO,WA,47.25,-122.44,US,NA-US-WA-WEYERHAEUSER CO,True
81804,98477,TACOMA,WA,47.25,-122.44,US,NA-US-WA-TACOMA,True
81805,98492,LAKEWOOD,WA,47.12,-122.55,US,NA-US-WA-LAKEWOOD,True
81806,98492,TACOMA,WA,47.12,-122.55,US,NA-US-WA-TACOMA,True
81807,98667,ABMPS,WA,45.63,-122.66,US,NA-US-WA-ABMPS,True
81808,98667,VANCOUVER,WA,45.63,-122.66,US,NA-US-WA-VANCOUVER,True
81809,98929,GOOSE PRAIRIE,WA,46.74,-121.14,US,NA-US-WA-GOOSE PRAIRIE,True
81810,98929,NACHES,WA,46.74,-121.14,US,NA-US-WA-NACHES,True
81811,99165,PULLMAN,WA,46.73,-117.17,US,NA-US-WA-PULLMAN,True
81812,99779,TOK,AK,63.13,-142.53,US,NA-US-AK-TOK,True
81813,9300,APO,AE,NaN,NaN,IQ,ME-IQ-CAMP BUCCA,True
81814,9303,APO,AE,NaN,NaN,BH,ME-BH-MCA BAHRAIN,True
81815,9379,FPO,AE,NaN,NaN,BH,ME-BH-FMC BAH CONTINGENCY - MANAMA,True
81816,96400,APO,AP,NaN,NaN,TH,AS-TH-COBRA GOLD BANGKOK,True
81817,96547,APO,AP,NaN,NaN,TH,AS-TH-BANGKOK,True
81818,34009,APO,AA,NaN,NaN,GY,SA-GY-NEW HORIZON-GUYANA,True
81819,34010,APO,AA,NaN,NaN,HN,CA-HN-NEW HORIZON LA CEIBA - COMAYAGUA,True
81820,34001,APO,AA,NaN,NaN,NI,CA-NI-JTF JUNTOS PODEMOS BASE CAMP,True
81821,34071,APO,AA,NaN,NaN,PY,SA-PY-JTF NEW HORIZON-CONCEPCION,True
81822,97475,SPRINGFIELD,OR,44.05,-123.02,US,NA-US-OR-SPRINGFIELD,False
81823,9848,APO,AE,NaN,NaN,US,NaN,False
81824,10200,NEW YORK,NY,40.77,73.95,US,NA-US-NY-NEW YORK,False
81825,10200,MANHATTAN,NY,40.77,73.95,US,NA-US-NY-MANHATTAN,False
81826,10200,NEW YORK CITY,NY,40.77,73.95,US,NA-US-NY-NEW YORK CITY,False
81827,10200,NY,NY,40.77,73.95,US,NA-US-NY-NY,False
81828,10200,NY CITY,NY,40.77,73.95,US,NA-US-NY-NY CITY,False
81829,10200,NYC,NY,40.77,73.95,US,NA-US-NY-NYC,False
81830,9323,APO,AE,-44.25,33.53,IQ,ME-IQ,False

In [41]:
states = business_data['state'].drop_duplicates()
census_states = census_data['state'].drop_duplicates()
# List of 51 states
valid_states= ['AL','AK','AZ','AR','CA','CO','CT','DE','DC','FL','GA','HI','ID','IL','IN','IA','KS','KY','LA','ME','MD','MA','MI','MN','MS','MO','MT','NE','NV','NH','NJ','NM','NY','NC','ND','OH','OK','OR','PA','RI','SC','SD','TN','TX','UT','VT','VA','WA','WV','WI','WY']
# Create a lookup table for states and their abbreviation
states_lookup = pd.DataFrame(zip(census_states,valid_states), columns=['state','abbrv'])

In [42]:
# Add abbreviation to census_data for future use
census_data = census_data.merge(states_lookup, on='state')

In [43]:
# Convert 'area' to title case
census_data.loc[:,'area'] = census_data['area'].apply(lambda c: c.title())
# Remove 'city' and 'town', keep only the area name
census_data.area = census_data.area.str.replace(r'( Town$)|( City And Borough)|( Borough)','')

In [44]:
census_data = census_data.drop_duplicates()

In [45]:
# Fix one record with incorrect state name
business_data.loc[business_data.state=='TAM','state'] = 'NV'

# Remove businesses that are not in USA and those are closed
business_data = business_data[business_data.state.isin(valid_states) & business_data.is_open == 1]

# Remove businesses that are not food businesses
food_categories = ['Food','Coffee','Tea','Bars','Restaurants','Cafes','Salad','Delis','Bakeries','Desserts']
food_business = business_data.loc[business_data['categories'].fillna('').str.contains('|'.join(food_categories))]

# Create a function to check if any empty string exists
def is_empty(df, col):
    return df[col] == ''

# Check if city has empty string
display(food_business.loc[is_empty(food_business, 'city')])
# Change to correct city name
food_business.loc[food_business['business_id'] == 'uM-zXJpjD9SIB2dnRP1Hsg','city'] = 'Raleigh'
display(food_business.loc[is_empty(food_business, 'city')])
# Check if state has empty string
display(food_business.loc[is_empty(food_business, 'state')])
# Check if business name has empty string
display(food_business.loc[is_empty(food_business, 'name')])

,business_id,name,attributes,city,state,categories,stars,review_count,is_open,latitude,longitude,postal_code
111036,uM-zXJpjD9SIB2dnRP1Hsg,Char-Grill,"{u'RestaurantsTableService': u'False', u'GoodF...",,NC,"Burgers, American (Traditional), Restaurants",2.5,21,1,35.873847,-78.790256,27623

Empty DataFrame
Columns: [business_id, name, attributes, city, state, categories, stars, review_count, is_open, latitude, longitude, postal_code]
Index: []

Empty DataFrame
Columns: [business_id, name, attributes, city, state, categories, stars, review_count, is_open, latitude, longitude, postal_code]
Index: []

Empty DataFrame
Columns: [business_id, name, attributes, city, state, categories, stars, review_count, is_open, latitude, longitude, postal_code]
Index: []

In [46]:
# Remove zipcodes that are decommisioned and out of US
zipcode_data = zipcode_data.loc[zipcode_data['country'] == 'US']
zipcode_data = zipcode_data.loc[zipcode_data['decommisioned'] == False]
# Capitalize first character
zipcode_data.loc[:,'city'] = zipcode_data['city'].apply(lambda c: c.title())
# Change 'postal_code' dtype to string(object)
zipcode_data.loc[:,'postal_code'] = zipcode_data['postal_code'].apply(lambda x: str(x))
# Create a lookup dataframe with zipcode and state
zipcode_state = zipcode_data[['postal_code','state']].drop_duplicates()
display(zipcode_data.info())
display(zipcode_state)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 80334 entries, 0 to 81829
Data columns (total 8 columns):
postal_code      80334 non-null object
city             80334 non-null object
state            80334 non-null object
lat              80102 non-null float64
long             80102 non-null float64
country          80334 non-null object
location         80333 non-null object
decommisioned    80334 non-null bool
dtypes: bool(1), float64(2), object(5)
memory usage: 5.0+ MB

None

      postal_code state
0             704    PR
8             705    PR
25            610    PR
32            611    PR
33            612    PR
56            601    PR
60            631    PR
62            602    PR
68            603    PR
101           604    PR
103           605    PR
104           703    PR
112          7093    NJ
114          7675    NJ
118          7677    NJ
121          7885    NJ
122          7981    NJ
123          7999    NJ
124          8888    NJ
125          8889    NJ
128          7095    NJ
129          7481    NJ
130         10451    NY
131         10452    NY
135         10453    NY
136         10454    NY
138         10455    NY
140         10456    NY
142         10457    NY
143         10458    NY
...           ...   ...
80642       96669    AP
80643       96670    AP
80644       96671    AP
80645       96672    AP
80646       96673    AP
80647       96674    AP
80648       96675    AP
80649       96677    AP
80650       96678    AP
80651       96679    AP
80652       96681    AP
80653       96682    AP
80654       96683    AP
80655       96686    AP
80656       96687    AP
80657       96698    AP
80658       56901    DC
80661       56902    DC
80664       56904    DC
80667       56915    DC
80670       56920    DC
80673       56933    DC
80676       56944    DC
80679       56945    DC
80682       56950    DC
80686       56965    DC
80687       56972    DC
81822       97475    OR
81823        9848    AE
81824       10200    NY

[41547 rows x 2 columns]

In [47]:
# Merge food_business with zipcode_state 
food_business = food_business.merge(zipcode_state, how='left', on='postal_code')

In [48]:
# Convert 'city' to title case
food_business.loc[:,'city'] = food_business['city'].apply(lambda c: c.title())
# Fix incorrect records
state_to_replace = {'AL':'AZ','NC':'SC','OH':'KY'}
zipcode_to_replace = {'93013':'89119'}
food_business[food_business['state_x'] != food_business['state_y']] = food_business[food_business['state_x'] != food_business['state_y']].replace({'state_x':state_to_replace,'postal_code':zipcode_to_replace})

# Create a function to correct data
def correct_value(df, col, change_col, values):
    # Loop through list of tuples
    for value in values:
        val, repl_val = value
        # check if val is a list
        if isinstance(val, list):
            df.loc[df[col].isin(val), change_col] = repl_val
        else:
            df.loc[df[col] == val, change_col] = repl_val

# Correct state name using business_id
oh_list = ['w8_gMZb2TyfkzslI4XMOew','6wWxJbZREP46AFHwFvsQlw','ybButD4cr1Zpn-Abwsrehg']
state_tuples = [('23hNsQz1XYDv5qGkHsM5gQ','NV'),('0gwjwRbUGrHnJdoDwYF9lA','TX'),('CzmyMl4jnlyQYVaf3YmDYQ','MD'),('KKMzRG_P7Kd4LJkqqxXyPg','NC'),(oh_list,'OH')]
correct_value(food_business,'business_id','state_x',state_tuples)

# Correct postal_code using business_id
postal_tuples = [('WA5c3d6rhjioD3Ri4nCX1A','23919')]
correct_value(food_business,'business_id','postal_code',postal_tuples)

# Correct city name using business_id
city_pitts = ['_AKdBFzkl7GY-daxUCCbVA','ScGf3uUlHqlXpyOZ2DXTFw','yKJCTTGgUr8IHyQDk6NKfA','wf3y8-wNJ5pIlxwMaU0h6Q','uxRBduJIbkY5FFfJCVVdVQ','err0FvoRGGSqORd8WRtppA','2To5KDQepjSUpdA5oPPRog','4LLNNwkveVoH1m6z_9jLGQ','txF4WKY3P2hF3i6VCRD8YA']
city_charlotte = ['110iMPMPEEjFlf8HKVq84g','1jdE-PeiQHvL8165vebWrw']
city_scottsdale = ['BbVvT3E_y9TZpzTtIpXNkw','0Zu6KcjFJjBpCOjiOa2HvQ']
city_tuples = [('WA5c3d6rhjioD3Ri4nCX1A','Bracey'),('0gwjwRbUGrHnJdoDwYF9lA','Levelland'),('CzmyMl4jnlyQYVaf3YmDYQ','Baltimore'),('G59Wxm8eicbgOBxdZhxhVQ','Harrisburg'),('qYcQxgd3YlyoQtnjxm4x8w','Litchfield Park'),(city_pitts,'Pittsburgh'),('a0imQZn-utjU8kyIfEdwLg','Mint Hill'),('DIdvV0HZUMZWiYg4OXyGJg','Robinson Township'),('KAJAsjVhYUPb6b_yodVqvA','Cleveland'),('l5PuzGq6hETve3H06tKjVA','Mount Oliver'),('82bfom6b5BQlnnd4m3wwew','Paradise Valley'),('rpK_kvpIoz-j-V-Nmn83mg','Newbury Township'),('EpwwKgTt97JL43_dryuSSA','Warrensville Heights')]
city_tuples += [('pgpnvPd3mWxI0O9WYUeLnA','Glendale'),(city_scottsdale,'Scottsdale'),('NC3Dw2kXxIwcnPD4Q8FgJA','Hermitage'),('svU7GceMV2PsJe6MLSJWIA','Mesa'),('ulLQMYF2gGIWZg9Yhybz0w','Ross Township'),(city_charlotte,'Charlotte'),('NiYCc7bhbQXftDQPON1aaQ','Henderson'),('tzUwZKhtDX7QixvXex-wZw','Canonsburg'),('SRrW_Vz38dY36cWGZDC7Nw','Davidson'),('iUPRmBfFZe4oz78R9m_zSw','Belleville'),('M8opVyzRVlfakUC8-b5D-w','Surprise'),('XjwgMrBeBeOKQTYiXfRYLQ','Sutersville'),('iB0_iENuscini2VcyG0q4w','Gilbert'),('Cx5j8-4ZtK9teAcIAOmvzA','Plum')]
correct_value(food_business,'business_id','city',city_tuples)

# Correct city name
canonsburg_list = ['Mc Murray','Canonsburd','Mcmurray']
scottsdale_list = ['Scottdale','Fort Mcdowell']
bellevue_list = ['Bellvue',' Bellevue']
lasvegas_list = ['Enterprise','Paradise','Las  Vegas','Nellis Afb','Spring Valley','City Center','South Las Vegas','Lasvegas','Nellis Air Force Base']
phoenix_list = ['Central City','Ahwatukee','Phx','Central City Village','Anthem']
northolmsted_list = ['North Olmstead','North Olmsted,']
mentoronthelake = ['Mentor-On-The-Lake','Mentor On The']
cities_tuples = [('East Liberty','Pittsburgh'),('Lake Wylie','Clover'),('Mc Farland','Mcfarland'),('Presto','Preston'),('Boulder City','Boulder'),('Concord Mills','Concord'),(canonsburg_list,'Canonsburg'),('Mc Kees Rocks','Mckees Rocks'),('Harrison City','Harrison'),('Scottdale','Scottsdale'),(scottsdale_list,'Scottsdale'),(bellevue_list,'Bellevue'),('Mc Donald','Mcdonald'),('Allison Park','Allison'),('East Mc Keesport','East Mckeesport'),('Harmarville','Harmar'),('Brookpark','Brook Park'),('North Huntington','North Huntingdon'),(lasvegas_list,'Las Vegas')]
cities_tuples += [('Stoney Creek','Whitsett'),('San Tan Valley','Queen Creek'),('Cuyahoga Fls','Cuyahoga Falls'),(phoenix_list,'Phoenix'),('Higley','Gilbert'),('Library','South Park'),(northolmsted_list,'North Olmsted'),('Sun Lakes','Chandler'),(mentoronthelake,'Mentor On The Lake'),('Moon Twp','Moon Township'),('Montrose','Fairlawn'),('Novelty','Russell'),('Neville Island','Neville')]

food_business.loc[(food_business['city'] == 'Cleveland') & (food_business['state_x'] == 'KY'), 'state_x'] = 'OH'
food_business.loc[(food_business['city'] == 'Charlotte') & (food_business['state_x'] == 'SC'), 'state_x'] = 'NC'
census_data.loc[census_data['area'].str.contains('Mentor-On-The-Lake'),'area'] = 'Mentor On The Lake'

In [49]:
food_business.city = food_business['city'].str.replace(r'^(N )|^(N. )','North ',regex=True)
food_business.city = food_business['city'].str.replace(r'^(Mt. )|^(Mt )','Mount ',regex=True)
food_business.city = food_business['city'].str.replace(r'(St )|(Saint )','St. ',regex=True)
food_business.city = food_business['city'].str.replace(r'Twp','Township',regex=True)
food_business.city = food_business['city'].str.replace(r'(Hts)$|(Hts.)$|(Hghts.)$|(Height)$','Heights',regex=True)
food_business.city = food_business['city'].str.replace(r'Indian Land(.)?','Fort Mill',regex=True)

In [50]:
food_business.drop(columns=['state_y'], inplace=True)
food_business.rename(columns={'state_x':'state'},inplace=True)

In [51]:
business_attributes = food_business.loc[:,['business_id','attributes']]

In [52]:
food_business = food_business.merge(census_data, how='left', left_on=['city','state'],right_on=['area','abbrv'])

In [53]:
food_business.drop(columns=['is_open','area','abbrv'],inplace=True)

In [54]:
food_business.rename(columns={'state_x':'state','state_y':'state_full'},inplace=True)

In [55]:
food_business = food_business.drop_duplicates(['business_id'])

In [56]:
# Remove cities that are outside US
cities_outside = ['Montreal','Bellagio','The Quay','Main Street','Turks And Caicos Islands']
food_business = food_business.loc[~food_business['city'].isin(cities_outside)]

In [57]:
census_data.area = census_data.area.str.replace(r'( City)', '')

In [58]:
food_business = food_business.merge(census_data, how='left', left_on=['city','state'],right_on=['area','abbrv'])

food_business.drop(columns=['state_full','area','abbrv'],inplace=True)

food_business.loc[food_business['population_x'].isna(), 'population_x'] = food_business['population_y']
food_business.drop(columns=['population_y'],inplace=True)

food_business.rename(columns={'state_x':'state','state_y':'state_full','population_x':'population'},inplace=True)

In [59]:
census_data.area = census_data.area.str.replace(r'( Township)|( Village)|( Municipality)', '')

In [60]:
food_business = food_business.merge(census_data, how='left', left_on=['city','state'],right_on=['area','abbrv'])

In [61]:
food_business.drop(columns=['state_full','area','abbrv'],inplace=True)
food_business.loc[food_business['population_x'].isna(), 'population_x'] = food_business['population_y']
food_business.drop(columns=['population_y'],inplace=True)

food_business.rename(columns={'state_x':'state','state_y':'state_full','population_x':'population'},inplace=True)

In [62]:
# Remove records with no population
food_business = food_business.loc[~food_business['population'].isna()]

In [63]:
food_business = food_business.drop_duplicates(['business_id'])

In [64]:
food_business.drop(columns=['latitude','longitude','state_full'],inplace=True)

In [68]:
# Cast data type of population to int64
food_business.loc[:,'population'] = food_business['population'].astype('int64')

In [71]:
# Export food_business dataframe as csv file
food_business.to_csv('Dataset/food_business.csv',index=False,encoding='utf-8')

In [72]:
#food_business_good = food_business.loc[food_business['stars'] >= 4]

In [73]:
#food_business_good.to_csv('Dataset/food_business_good.csv')

In [74]:
city_population = food_business.loc[:,['city','population']]
city_population = city_population.drop_duplicates()

In [75]:
display(city_population.head())
display(city_population.describe())
display(city_population.info())

          city  population
0      Phoenix     1626078
1     Avondale       84025
3    Cleveland      385525
6  Streetsboro       16365
7  Sun Prairie        2455

         population
count  3.340000e+02
mean   3.434374e+04
std    1.235513e+05
min    2.280000e+02
25%    3.173750e+03
50%    8.042500e+03
75%    1.916000e+04
max    1.626078e+06

<class 'pandas.core.frame.DataFrame'>
Int64Index: 334 entries, 0 to 40735
Data columns (total 2 columns):
city          334 non-null object
population    334 non-null int64
dtypes: int64(1), object(1)
memory usage: 7.8+ KB

None